html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: azure;
}

#canvas-wrap {
  position: fixed;
  height: 60vh;
  width: 80vw;
  top: 20vh;
  left: 10vw;
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.wire {
  position: fixed;
  left: 20vw;
  top: 15vh;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 30vw solid transparent;
  border-right: 30vw solid transparent;
  border-bottom: 10vh solid grey;
  background-color: transparent;
  color: transparent;
}

.wirehide {
  position: fixed;
  left: 20vw;
  top: 15.15vh;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 30vw solid transparent;
  border-right: 30vw solid transparent;
  border-bottom: 10vh solid azure;
  background-color: transparent;
  color: transparent;
}

.tack {
  position: fixed;
  top: 14.5vh;
  left: calc(50vw - (18px / 2));
  z-index: 5;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgb(196, 95, 56);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 1px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

.tacktop {
  position: fixed;
  top: 14.25vh;
  left: calc(50vw - (14.2px / 2));
  z-index: 6;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: rgb(250, 127, 78);
}

/* 
#canvas-wrap:before {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: '';
}

#canvas-wrap:after {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: '';
} */
